<app-get></app-get>
<nav>
  <a class="nav-link" routerLink="/id" routerLinkActive="active">Id</a>
  <a class="nav-link" routerLink="/title" routerLinkActive="active">Title</a>
  <a class="nav-link" routerLink="/price" routerLinkActive="active">Price</a>
  <a class="nav-link" routerLink="/category" routerLinkActive="active">Category</a>
  <a class="nav-link" routerLink="/image" routerLinkActive="active">Image</a>
  <a class="nav-link" routerLink="/rating" routerLinkActive="active">Rating</a>

  </nav>
<router-outlet></router-outlet>
